<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config/><!-- this is used for enabling all annotations   -->
    <!--  Collections using setter injuction  -->
    <bean id = "employee" class="com.SpringCore.UsingCollections.Employee">
        <property name="name">
            <value>Rama Krisahna Reddy</value>
        </property>
        <property name="skills">
            <list>
                <value>Java</value>
                <value>Python</value>
                <value>Spring Framework</value>
            </list>
        </property>
        <property name="courses">
            <map>
                <entry key="java" value="1 month"/>
                <entry key="Python" value="1 month"/>
            </map>
        </property>
        <property name="languages">
            <set>
                <value>English</value>
                <value>Hindi</value>
                <value>Telugu</value>
            </set>
        </property>
    </bean>
    <!--  Collections using Constructor injuction  -->
    <bean class="com.SpringCore.UsingCollections.Student" name="student" >
        <constructor-arg name="id" value="1"/>
        <constructor-arg name="name" value="saran"/>
        <constructor-arg name="mailId" value="saran@outlook.com"/>
        <constructor-arg name="courses">
            <list>
                <value>Java</value>
                <value>Python</value>
                <value>Spring Framework</value>
            </list>
        </constructor-arg>
    </bean>

    <!--  StandALone Collections  -->
    <util:list list-class="java.util.LinkedList" id="course">
        <value>Java</value>
        <value>python</value>
        <value>Spring Framework</value>
    </util:list>

    <bean class="com.SpringCore.UsingCollections.Person" name="person">
        <property name="courses" ref="course"/>
    </bean>

    <context:component-scan base-package="com.SpringCore.UsingCollections"/>
</beans>