<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config/><!-- this is used for enabling all annotations   -->
    <!--  life cycle of bean using xml  -->
    <bean class="com.SpringCore.lifeCycleBean.LifeCycleUsingXml" name="demo" init-method="init" destroy-method="destroy">
        <property name="price" value="100"/>
        <property name="name" value="apple"/>
    </bean>
    <!--  life cycle using interface  -->
    <bean class="com.SpringCore.lifeCycleBean.LifeCycleUsingInterface" name="demo1">
        <property name="price" value="100"/>
        <property name="name" value="pineapple"/>
    </bean>
    <!--  life cycle using Annotations  -->
    <!-- we are using this so <context:annotation-config/> no need to use this  <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>-->
    <bean class="com.SpringCore.lifeCycleBean.LifeCycleUsingAnnotations" name="demo2">
        <property name="price" value="100"/>
        <property name="name" value="orange"/>
    </bean>
</beans>